body {
  margin: 0 auto;
  padding: 0px;
  h1 {
    border-bottom: none;
    font-size: 4.5rem;
    text-align: center;
  }
  h2 {
    border-bottom: none;
    font-size: 3rem;
    text-align: center;
  }
}
